.profile {
  width: 25%;
}

.profile img {
  width: 100%;
  height: 100%;
  margin-right: 20px;
  border-radius: 50%;
  float: left;
}

.about {
  text-align: justify;
}

.quote-container {
  text-align: right;
  margin-top: 1em;
  overflow: auto;
  zoom: 1;
}

.main-quote {
  margin-bottom: 0.5em;
}

.quote-container p {
  margin: 0;
}

.lquote {
  margin-right: 0.5em;
}

.rquote {
  margin-left: 0.5em;
}
