---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
      <div class="entry">
        {% if post.include_excerpt %}
          {{ post.excerpt }}
        {% endif %}
      </div>

    </article>
  {% endfor %}
</div>

</div>
<script type="text/javascript">
    /* * * DISPLAY THE COMMENT COUNT * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//codedthoughts.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    })();
</script>


